{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h2 align="left">Вы уверенны, что хотите удалить запись?</h2>
        <h3 align="left">
            {{ post.header|censor }}
        </h3>
        <div align="left">
            <td>
                {{ post.text|truncatewords:20|censor }}
            </td>
        </div>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <div align="left">
    <input type="submit" value="Подтвердить">
    </div>
</form>
{% endblock content %}