{% extends 'default.html' %}

{% load custom_filters %}

{% block title %} Добавить новость или статью {% endblock title %}

{% block content %}
<h3 align="left">Редактировать статью</h3>
<form method=post enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <h4 align="left"> {{ field.label_tag }} </h4>
    <p align="left"> {{ field }} </p>
    {% endfor %}
    <div align="left">
    <input type="submit" align="left" value="Сохранить">
    </div>
</form>
{% endblock content %}