{% extends 'default.html' %}

{% load custom_filters %}

{% block content %}

<h1 align="left">
    Показано новостей: {{ posts|length }}
</h1>

{% for post in posts %}
<table style="width: 100%; border: 1rem solid;" align="left" >
    <tbody align="left">
        <tr>
            <td style="width: 73.4266%;">
                <h2><a style="color: black" href="{% url 'post' post.id %}">
                    {{ post.header|censor }}
                </a>
                </h2>
                <h4>{{ post.creation_date|date:'d M Y' }}</h4>
                <p>{{ post.text|truncatewords:20|censor }}</p>
            </td>
            <td style="width: 26.4568%;">
                {% if post.preview_image %}
                    <img src="{{ post.preview_image.url }}" alt="Обложка новости" height="200">
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
<hr />
{% endfor %}
{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">Первая страница</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя страница</a>
    {% endif %}

{% endif %}
{% endblock content %}