{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h1 align="left">
    {{ post.header|censor }}
</h1>

<h5 align="left">
    {{ post.creation_date|date:'d M Y' }}
    <div>
        <a href="{% url 'news_delete' post.id %}">
                Удалить
        </a>
    </div>
    <div>
        <a href="{% url 'news_edit' post.id %}">
                Редактировать
        </a>
    </div>
</h5>

<div align="left">
    {{ post.text|censor }}
</div>
{% endblock content %}